---
title: Text To Speech
emoji: 🎙️
colorFrom: blue
colorTo: purple
sdk: docker
pinned: false
---

# NeuroVoice AI

A modern AI Text-to-Speech web application built with:

- Flask
- Hugging Face Transformers
- PyTorch
- MMS-TTS