---
title: Text To Speech
emoji: 🎙️
colorFrom: blue
colorTo: purple
sdk: docker
pinned: false
---

# NeuroVoice AI

AI Text-to-Speech web application built using:

- Flask
- Hugging Face Transformers
- PyTorch
- MMS-TTS

## Features

- English Text-to-Speech
- Hindi Text-to-Speech
- Modern UI
- Audio Download
- Real-time Voice Generation